* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
}

img {
  height: 200px;
  width: 200px;
}
